* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #3bf231ec;
    color: rgb(4, 4, 4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    size: 30%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.irrigação-imagem{
    width: 20%;
}

.soja{
    background-image: linear-gradient(#07b504,#014309d9);
    color:rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.irrigação-div-conteudo{
    width: 50%;
}

.irrigação-titulo{
    padding: 10px 0;
}


.irrigação{
    padding: 10px 0;
}
.irrigação-imagem{
    width: 30px;
}

.irrigação-icone{
    width: 20px;
    padding: 4px 8px;
}

.irrigação-div{
    text-align: center;
    padding: 16px 0;
}
.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}

